/* Carte livraison */
.livraison {
    width: 450px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 30px auto;
}

.livraison h3 {
    color: #b98acb;
    margin-bottom: 5px;
}

.livraison p {
    font-size: 15px;
    color: #444;
}

.livraison-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

.done {
    background-color: #27ae60;
}
.done:hover { background-color: #1e8449; }

.abandon {
    background-color: #e74c3c;
}
.abandon:hover { background-color: #c0392b; }


/* ===================== */
/* HISTORIQUE LIVRAISONS */
/* ===================== */

.historique {
  margin-top: 30px;
}

.table-livraison {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.table-livraison thead {
  background: #b98acb;
  color: white;
}

.table-livraison th,
.table-livraison td {
  padding: 10px;
  text-align: center;
}

.table-livraison tbody tr {
  border-bottom: 1px solid #eee;
}

.statut-livree {
  color: green;
  font-weight: bold;
}

.statut-abandonnee {
  color: #e74c3c;
  font-weight: bold;
}

#livraison-msg {
  display: none;
  padding: 12px 40px;
  border-radius: 6px;
  margin: 10px 40px;
}
